{% extends "myapp/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
This is {{ myname }}

<div class="mt-4 p-5 bg-dark text-white rounded">
    <h1>Solution Architect</h1>
    <p> Have over 18 years of experience in diversified field of Information Technology; I am working as a Solution Architect leading all the phases of assignments for over 10 years                                                 
        Highly experienced in: 
        Gathering the Business requirements, Business analysis and transferring them to technical solutions
        Performing gap analysis to identify the shortfall between the baseline and target solution
        Designing solutions for Transformation projects (migrations and greenfield) and driving implementations
        Preparing  risk assessment, risk mitigation, change management and support PM activities to  prepare project charter / plans
        Owning business stakeholder management – communication & co-ordination with steering group and business stakeholders
        Defining solutions in various domains: Business, Data, Application and Technology architecture and  planning incremental / iterative delivery by adapting best practices to increase efficiency
        Sound programming knowledge in Java, .NET and PL & SQL  and RDMS using concepts like OOPs and frameworks MVC
        Sound knowledge designing the multi tier architectures following patterns like SOA, micro services
        A good knowledge of using Jira, Confluence, Kanban,  Jenkins,  Kubernetes and Git
        Hands-on experience in Machine learning and Analytics using Python, Pandas</p>
</div>

<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4 bg-dark text-white">
        <h3>Skills</h3>
        <p>• Highly experienced in Software engineering and design architectures</p>
        <p>• Excellent Interpersonal communication and negotiation skills</p>
        <p>• Very good at Organizational, analytical and system thinking </p>
        <p>• Familiarity with principles of computer networks and IT security management</p>
        <p>• Sound knowledge understanding of business analysis techniques and processes</p>
        <p>• Sound knowledge in cloud computing</p>
        <p>• Experience in Enterprise integration patterns</p>
        <p>• Experience in developing and working with APIs</p>
      </div>
      <div class="col-sm-4 bg-info text-white">
        <h3>Work Experience</h3>
        <pre class="text-left"> 
            •	Planning & driving the application transformations, especially migrating legacy applications to advanced frameworks & architectures
            •	Successfully completed various technology agnostic digital transformations and automation projects
            •	Designed and led performance engineering solution on custom application to optimize the performance and availability using Dynatrace 
            •	Defined Value Chain streams for Sales & Marketing business process, making fragmented business processes and applications to work together to improve time to market
            •	Experience working with opensource communities and software vendor teams to evaluate the fitment of a software for the business need, and at times I was part of customizing the COTS product to meet the requirements
            •	Designed solutions to integrate the Java and Microsoft technology-based applications with SAP Business suites using SOA
            •	Led the team of 20+ developers and developed several PoCs using different technology streams (Python, Angular, Php, NoSQL DB) to address various requirements (automated a ticketing tool with messaging tool to alert the support team about incidents)
            •	I use Business scenarios concept to perform Business analysis to address the stakeholder’s concerns 
            •	Performed gap analysis based on current & target states of the systems to identify the delta in order to design the solutions to meet target business objectives
            •	Develop and led comprehensive project transformation strategy for implementation from Waterfall model to Agile culture by applying Scrum / SAFe frameworks
        </pre>
       
      </div>
      <div class="col-sm-4 bg-secondary text-white">
        <h3>Column 3</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
</div>


{% endblock %}